<div class="card mt-4">
    <h4 class="card-header">{{ managerId ? 'Editar' : 'Cadastrar' }} Responsável</h4>
    <div class="card-body">
        <form [formGroup]="formGroup" (submit)="submit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="required">Nome</label>
                        <input class="form-control" id="name" formControlName="name">
                        <div class="has-error mt-2" *ngIf="!formGroup.get('name').valid && formGroup.get('name').dirty">
                            Campo 'Nome' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="required">E-mail</label>
                        <input class="form-control" id="email" type="email" formControlName="email">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('email').valid && formGroup.get('email').dirty">
                            Campo 'E-mail' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="telephone" class="required">Telefone</label>
                        <input class="form-control" id="telephone" type="tel" formControlName="telephone">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('telephone').valid && formGroup.get('telephone').dirty">
                            Campo 'Telefone' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="additional">Informações Adicionais</label>
                        <input class="form-control" id="additional" formControlName="additional">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="float-right">
                        <a class="btn btn-link clickable mr-2" (click)="goBack()">
                            <fa name="arrow-left"></fa> Voltar
                        </a>
                        <a class="btn btn-default mr-2" *ngIf="!managerId" (click)="formGroup.reset()">
                            <fa name="eraser"></fa> Limpar
                        </a>
                        <button [disabled]="loading" class="btn btn-success" type="submit">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <fa name="check"></fa> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>