<div class="card mt-4">
    <h4 class="card-header">Peças de Reposição</h4>
    <div class="card-body">
        <div *ngIf="pieces$ | async; let pieces">
            <div class="table-responsive" *ngIf="pieces.length > 0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-left" scope="row">Nome</th>
                            <th class="text-left" scope="row">Descrição</th>
                            <th class="text-center" scope="row">Em Estoque</th>
                            <th class="text-center" scope="row" colspan="3">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let piece of pieces">
                            <td class="text-left">{{ piece.name }}</td>
                            <td class="text-left">{{ piece.description }}</td>
                            <td class="text-center">{{ piece.stockQuantity }}</td>
                            <td class="text-center">
                                <a title="Consultar" class="clickable text-dark" [routerLink]="[piece.id, 'd']">
                                    <fa name="search"></fa>
                                </a>
                            </td>
                            <td class="text-center">
                                <a title="Editar" class="clickable text-dark" [routerLink]="[piece.id]">
                                    <fa name="pencil"></fa>
                                </a>
                            </td>
                            <td class="text-center">
                                <a title="Excluir" class="clickable text-dark" (click)="openDeleteModal(content, piece)">
                                    <fa name="trash"></fa>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="pieces.length <= 0">
                Não há informações a listar.
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmação</h4>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma a exclusão da peça de reposição <b>{{ selectedPiece.name }}</b>?</p>
        <div *ngIf="deleteError.length > 0">
            <p class="has-error">{{ deleteError }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.dismiss()">Não</button>
        <button type="button" class="btn btn-primary" (click)="deletePiece()">Sim</button>
    </div>
</ng-template>