<div class="card mt-4">
    <h4 class="card-header">{{ pieceId ? 'Editar' : 'Cadastrar' }} Peça de Reposição</h4>
    <div class="card-body">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="name" class="required">Nome</label>
                        <input class="form-control" id="name" formControlName="name">
                        <div class="has-error mt-2" *ngIf="!formGroup.get('name').valid && formGroup.get('name').dirty">
                            Campo 'Nome' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label for="description" class="required">Descrição</label>
                        <input class="form-control" id="description" formControlName="description">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('description').valid && formGroup.get('description').dirty">
                            Campo 'Descrição' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="stock_quantity" class="required">Estoque</label>
                        <input class="form-control" id="stock_quantity" type="number" formControlName="stock_quantity">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('stock_quantity').valid && formGroup.get('stock_quantity').dirty">
                            Campo 'Estoque' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="code" class="required">Código</label>
                        <input class="form-control" id="code" formControlName="code">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('code').valid && formGroup.get('code').dirty">
                            Campo 'Código' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="float-right">
                        <a class="btn btn-link clickable mr-2" (click)="goBack()">
                            <fa name="arrow-left"></fa> Voltar
                        </a>
                        <button class="btn btn-default mr-2" *ngIf="!pieceId" (click)="formGroup.reset()">
                            <fa name="eraser"></fa> Limpar
                        </button>
                        <button [disabled]="loading" class="btn btn-success" (click)="submit()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <fa name="check"></fa> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>