<div class="card mt-4">
    <h4 class="card-header">Cadastrar Máquina</h4>
    <div class="card-body">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input class="form-control" id="name" formControlName="name">
                        <div class="has-error mt-2" *ngIf="!formGroup.get('name').valid && formGroup.get('name').dirty">
                            Campo 'Nome' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Descrição</label>
                        <input class="form-control" id="description" formControlName="description">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('description').valid && formGroup.get('description').dirty">
                            Campo 'Descrição' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="technical">Informações Técnicas</label>
                        <input class="form-control" id="technical" formControlName="technical">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="patrimony">Patrimônio</label>
                        <input class="form-control" id="patrimony" type="patrimony" formControlName="patrimony">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('patrimony').valid && formGroup.get('patrimony').dirty">
                            Campo 'Patrimônio' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reviewPeriod">Período de Revisão</label>
                        <input class="form-control" id="reviewPeriod" type="date" formControlName="reviewPeriod">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('reviewPeriod').valid && formGroup.get('reviewPeriod').dirty">
                            Campo 'Período de Revisão' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="warningPeriod">Período de Aviso</label>
                        <input class="form-control" id="warningPeriod" type="date" formControlName="warningPeriod">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('warningPeriod').valid && formGroup.get('warningPeriod').dirty">
                            Campo 'Período de Aviso' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="warningEmailAddress">E-mail de Aviso</label>
                        <input class="form-control" id="warningEmailAddress" type="email" formControlName="warningEmailAddress">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('warningEmailAddress').valid && formGroup.get('warningEmailAddress').dirty">
                            Campo 'E-mail de Aviso' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="float-right">
                        <a class="btn btn-link clickable mr-2" (click)="goBack()">
                            <fa name="arrow-left"></fa> Voltar
                        </a>
                        <button class="btn btn-default mr-2" *ngIf="!machineId" (click)="formGroup.reset()">
                            <fa name="eraser"></fa> Limpar
                        </button>
                        <button [disabled]="loading" class="btn btn-success" (click)="submit()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <fa name="check"></fa> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>