<div class="card mt-4">
    <h4 class="card-header">Máquinas</h4>
    <div class="card-body">
        <div *ngIf="machines$ | async; let machines">
            <div class="table-responsive" *ngIf="machines.length > 0">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="row">#</th>
                            <th class="text-left" scope="row">Nome</th>
                            <th class="text-left" scope="row">Descrição</th>
                            <th class="text-center" scope="row">Patrimônio</th>
                            <th class="text-center" scope="row">Revisão</th>
                            <th class="text-center" scope="row">Aviso</th>
                            <th class="text-center" scope="row">E-mail</th>
                            <th class="text-center" scope="row" colspan="3">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let machine of machines">
                            <td class="text-center" scope="row">{{ machine.id }}</td>
                            <td class="text-left">{{ machine.name }}</td>
                            <td class="text-left">{{ machine.description }}</td>
                            <td class="text-center">{{ machine.patrimony }}</td>
                            <td class="text-center">{{ machine.reviewPeriod | date: "dd/MM/yyyy" }}</td>
                            <td class="text-center">{{ machine.warningPeriod | date: "dd/MM/yyyy" }}</td>
                            <td class="text-center">{{ machine.warningEmailAddress }}</td>
                            <td class="text-center">
                                <fa name="search" class="clickable" [routerLink]="[machine.id, 'd']"></fa>
                            </td>
                            <td class="text-center">
                                <fa name="pencil" class="clickable" [routerLink]="[machine.id]"></fa>
                            </td>
                            <td class="text-center">
                                <fa name="trash" class="clickable" (click)="openDeleteModal(content, machine)"></fa>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="machines.length <= 0">
                Não há informações a listar.
            </div>
        </div>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmação</h4>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma a exclusão da máquina <b>{{ selectedMachine.name }}</b>?</p>
        <div *ngIf="deleteError.length > 0">
            <p class="has-error">{{ deleteError }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="modal.dismiss()">Não</button>
        <button type="button" class="btn btn-primary" (click)="deleteMachine()">Sim</button>
    </div>
</ng-template>