<div class="card mt-4">
    <h4 class="card-header">Máquinas</h4>
    <div class="card-body">
        <div *ngIf="machines$ | async as machines else loading">
            <div class="table-responsive" *ngIf="machines.length > 0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-left" scope="row">Nome</th>
                            <th class="text-left" scope="row">Descrição</th>
                            <th class="text-left" scope="row">Características</th>
                            <th class="text-center" scope="row">Patrimônio</th>
                            <th class="text-center" scope="row">E-mail Aviso</th>
                            <th class="text-center" scope="row" colspan="7">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let machine of machines">
                            <td class="v-align text-left">{{ machine.name }}</td>
                            <td class="v-align text-left">{{ machine.description }}</td>
                            <td class="v-align text-left">{{ machine.technical }}</td>
                            <td class="v-align text-center">{{ machine.patrimony }}</td>
                            <td class="v-align text-center">{{ machine.warning_email_address }}</td>
                            <td class="v-align text-center">
                                <a title="Consultar" class="clickable text-dark" [routerLink]="[machine.id, 'd']">
                                    <fa name="search"></fa>
                                </a>
                            <td class="v-align text-center">
                                <a title="Editar" class="clickable text-dark" [routerLink]="[machine.id]">
                                    <fa name="pencil"></fa>
                                </a>
                            </td>
                            <td class="v-align text-center">
                                <a title="Excluir" class="clickable text-dark" (click)="openModal(delete, machine)">
                                    <fa name="trash"></fa>
                                </a>
                            </td>
                            <td class="v-align text-center">
                                <a title="Adicionar Arquivo" class="clickable text-dark"
                                    (click)="openModal(addFile, machine)">
                                    <fa name="paperclip"></fa>
                                </a>
                            </td>
                            <td class="v-align text-center">
                                <a title="Vincular Peça de Reposição" class="clickable text-dark"
                                    (click)="openModal(addPiece, machine)">
                                    <fa name="archive"></fa>
                                </a>
                            </td>
                            <td class="v-align text-center">
                                <a title="Realizar Manutenção" class="clickable text-dark"
                                    (click)="openModal(addMaintenance, machine)">
                                    <fa name="wrench"></fa>
                                </a>
                            </td>
                            <td class="v-align text-center">
                                <a title="Vincular Responsável" class="clickable text-dark"
                                    (click)="openModal(addManager, machine)">
                                    <fa name="user"></fa>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="machines.length <= 0">
                Não há informações a listar.
            </div>
        </div>
        <ng-template #loading>
            <app-loading></app-loading>
        </ng-template>
    </div>
</div>

<ng-template #delete let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Exclusão</h5>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma a exclusão da máquina <b>{{ selectedMachine.name }}</b>?</p>
    </div>
    <div class="modal-footer">
        <button [disabled]="excluding" type="button" class="btn btn-default" (click)="modal.dismiss()">Não</button>
        <button [disabled]="excluding" type="button" class="btn btn-primary" (click)="deleteMachine()">
            <span *ngIf="excluding" class="spinner-border spinner-border-sm mr-1"></span>
            Sim
        </button>
    </div>
</ng-template>

<ng-template #addFile let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Adicionar arquivo à máquina <b>{{ selectedMachine.name }}</b></h5>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-file-form [machine]="selectedMachine" [modal]="modal"></app-add-file-form>
    </div>
</ng-template>

<ng-template #addPiece let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Vincular peça de reposição à máquina <b>{{ selectedMachine.name }}</b></h5>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-piece-form [machine]="selectedMachine" [modal]="modal"></app-add-piece-form>
    </div>
</ng-template>

<ng-template #addMaintenance let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Realizar manutenção para a máquina <b>{{ selectedMachine.name }}</b></h5>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-maintenance-form [machine]="selectedMachine" [modal]="modal"></app-add-maintenance-form>
    </div>
</ng-template>

<ng-template #addManager let-modal>
    <div class="modal-header">
        <h5 class="modal-title">Vincular responsável à máquina <b>{{ selectedMachine.name }}</b></h5>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-manager-form [machine]="selectedMachine" [modal]="modal"></app-add-manager-form>
    </div>
</ng-template>