<form [formGroup]="formGroup">
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="piece" class="required">Peça de Reposição</label>
                <select class="form-control" id="piece" formControlName="piece">
                    <option [ngValue]="null" selected disabled hidden>Selecione</option>
                    <option *ngFor="let piece of pieces$ | async" [ngValue]="piece">
                        {{ piece.name }}
                    </option>
                </select>
                <div class="has-error mt-2" *ngIf="!formGroup.get('piece').valid && formGroup.get('piece').dirty">
                    Campo 'Peça de Reposição' é obrigatório.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="minQuantity" class="required">Quantidade Mínima</label>
                <input class="form-control" id="minQuantity" type="number" formControlName="minQuantity">
                <div class="has-error mt-2"
                    *ngIf="!formGroup.get('minQuantity').valid && formGroup.get('minQuantity').dirty">
                    Campo 'Quantidade Mínima' é obrigatória.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="float-right">
                <a class="btn btn-link clickable mr-2" (click)="modal.dismiss()">
                    <fa name="ban"></fa> Cancelar
                </a>
                <button [disabled]="loading" class="btn btn-primary" (click)="submit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <fa name="check"></fa> Adicionar Peça
                </button>
            </div>
        </div>
    </div>
</form>