<form [formGroup]="formGroup">
    <div class="row" *ngIf="pieces$ | async as pieces else loading">
        <div class="col-md-8">
            <div class="form-group">
                <label for="piece" class="required">Peça de Reposição</label>
                <select class="form-control" id="piece" formControlName="piece">
                    <option [ngValue]="null" selected disabled hidden>Selecione</option>
                    <option *ngFor="let piece of pieces" [ngValue]="piece">
                        {{ piece.name }}
                    </option>
                </select>
                <div class="has-error mt-2" *ngIf="!formGroup.get('piece').valid && formGroup.get('piece').dirty">
                    Campo 'Peça de Reposição' é obrigatório.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="minimal_quantity" class="required">Quantidade Mínima</label>
                <input class="form-control" id="minimal_quantity" type="number" formControlName="minimal_quantity">
                <div class="has-error mt-2"
                    *ngIf="!formGroup.get('minimal_quantity').valid && formGroup.get('minimal_quantity').dirty">
                    Campo 'Quantidade Mínima' é obrigatória.
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="float-right">
                <button [disabled]="including" class="btn btn-light clickable mr-2" (click)="modal.dismiss()">
                    <fa name="ban"></fa> Cancelar
                </button>
                <button [disabled]="including" class="btn btn-primary" (click)="submit()">
                    <span *ngIf="including" class="spinner-border spinner-border-sm mr-1"></span>
                    <fa name="check"></fa> Adicionar Peça
                </button>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <app-loading></app-loading>
    </ng-template>
</form>