<div class="card mt-4">
  <h4 class="card-header">Dados da Manutenção</h4>
  <div class="card-body">
    <div class="row" *ngIf="maintenance$ | async as maintenance; else loading">
      Dados da manutenção
      <div class="col-md-12">
        <div class="float-right">
          <a class="btn btn-link clickable mr-2" (click)="goBack()">
            <fa name="arrow-left"></fa> Voltar
          </a>
        </div>
      </div>
    </div>
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
  </div>
</div>
