<div class="card mt-4">
    <h4 class="card-header">{{ userId ? 'Editar' : 'Cadastrar' }} Usuário</h4>
    <div class="card-body">
        <form [formGroup]="formGroup">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name" class="required">Nome</label>
                        <input class="form-control" id="name" formControlName="name">
                        <div class="has-error mt-2" *ngIf="!formGroup.get('name').valid && formGroup.get('name').dirty">
                            Campo 'Nome' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email" class="required">E-mail</label>
                        <input class="form-control" id="email" type="email" formControlName="email">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('email').valid && formGroup.get('email').dirty">
                            Campo 'E-mail' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="role" class="required">Tipo de Usuário</label>
                        <select class="form-control" id="role" formControlName="role">
                            <option value="null" selected disabled hidden>Selecione</option>
                            <option *ngFor="let role of roles" [ngValue]="role">
                                {{ role.name }}
                            </option>
                        </select>
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('role').valid && formGroup.get('role').dirty">
                            Campo 'Tipo de Usuário' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="password" class="required">Senha</label>
                        <input class="form-control" id="password" type="password" formControlName="password">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('password').valid && formGroup.get('password').dirty">
                            Campo 'Senha' é obrigatório.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="confirm-password" class="required">Confirmar Senha</label>
                        <input class="form-control" id="confirm-password" type="password"
                            formControlName="confirmPassword">
                        <div class="has-error mt-2"
                            *ngIf="!formGroup.get('confirmPassword').valid && formGroup.get('confirmPassword').dirty">
                            Campo 'Confirmar Senha' é obrigatório.
                        </div>
                        <div class="has-error mt-2"
                            *ngIf="formGroup.get('confirmPassword').value.length > 0 && formGroup.get('confirmPassword').value !== formGroup.get('password').value">
                            As senhas não conferem.
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="float-right">
                        <a class="btn btn-link clickable mr-2" (click)="goBack()">
                            <fa name="arrow-left"></fa> Voltar
                        </a>
                        <button class="btn btn-default mr-2" *ngIf="!userId" (click)="formGroup.reset()">
                            <fa name="eraser"></fa> Limpar
                        </button>
                        <button [disabled]="disableSubmit() || loading" class="btn btn-success" (click)="submit()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <fa name="check"></fa> Salvar
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>