<div class="card mt-4">
  <h4 class="card-header">Dashboard</h4>
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <canvas
          *ngIf="
            doughnutChartData[0] || doughnutChartData[1] || doughnutChartData[2]
          "
          baseChart
          [data]="doughnutChartData"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [colors]="donutColors"
        ></canvas>
        <div
          *ngIf="
            !doughnutChartData[0] &&
            !doughnutChartData[1] &&
            !doughnutChartData[2]
          "
          class="text-danger"
          role="alert"
        >
          <app-loading></app-loading>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Status</h2>
        <br />
        <ul>
          <li>Atrasados: {{ doughnutChartData[0] }}</li>
          <li>Manutenção: {{ doughnutChartData[1] }}</li>
          <li>Em Dia: {{ doughnutChartData[2] }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
