<div class="card mt-4">
    <h4 class="card-header">Usuários</h4>
    <div class="card-body">
        <div *ngIf="users$ | async as users else loading">
            <div class="table-responsive" *ngIf="users.length > 0">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text-left" scope="row">Nome</th>
                            <th class="text-left" scope="row">E-mail</th>
                            <th class="text-center" scope="row" colspan="3">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of users">
                            <td class="text-left">{{ user.name }}</td>
                            <td class="text-left">{{ user.email }}</td>
                            <td class="text-center">
                                <a title="Consultar" class="clickable text-dark" [routerLink]="[user.id, 'd']">
                                    <fa name="search"></fa>
                                </a>
                            </td>
                            <td class="text-center">
                                <a title="Editar" class="clickable text-dark" [routerLink]="[user.id]">
                                    <fa name="pencil"></fa>
                                </a>
                            </td>
                            <td class="text-center">
                                <a title="Excluir" class="clickable text-dark" (click)="openDeleteModal(content, user)">
                                    <fa name="trash"></fa>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="users.length <= 0">
                Não há informações a listar.
            </div>
        </div>
        <ng-template #loading>
            <app-loading></app-loading>
        </ng-template>
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirmação</h4>
        <button type="button" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Confirma a exclusão do usuário <b>{{ selectedUser.name }}</b>?</p>
    </div>
    <div class="modal-footer">
        <button [disabled]="excluding" type="button" class="btn btn-default" (click)="modal.dismiss()">Não</button>
        <button [disabled]="excluding" type="button" class="btn btn-primary" (click)="deleteUser()">
            <span *ngIf="excluding" class="spinner-border spinner-border-sm mr-1"></span>
            Sim
        </button>
    </div>
</ng-template>